body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #4a474b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.main-content {
    display: flex;
}

.left-column {
    width: 30%;
    padding: 20px;
}

.right-column {
    width: 70%;
    padding: 20px;
}

.registration-container,
.filter-container,
.total-spent {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4381c4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #173453;
}

.total-amount {
    font-size: 24px;
    font-weight: bold;
}
