

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mostrar Gastos</title>
</head>

<body>
    <h1>Lista de Gastos</h1>

    <form method="POST" action="{{ url_for('inicio') }}">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br>

        <label for="monto">Monto:</label>
        <input type="number" name="monto" step="0.01" required><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" required></textarea><br>

        <label for="categoria">Categoría:</label>
        <select name="categoria" required>
            <option value="alimentacion">Alimentación</option>
            <option value="transporte">Transporte</option>
            <option value="ocio">Ocio</option>
            <option value="personal">Personal</option>
        </select><br>

        <button type="submit">Agregar Gasto</button>
    </form>

    <form method="POST" action="{{ url_for('filtrar_por_categoria') }}">
        <label for="categoria">Filtrar por Categoría:</label>
        <select name="categoria" required>
            <option value="">Todas las Categorías</option>
            <option value="alimentacion">Alimentación</option>
            <option value="transporte">Transporte</option>
            <option value="ocio">Ocio</option>
            <option value="personal">Personal</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <form method="GET" action="{{ url_for('buscar_gastos') }}">
        <label for="busqueda">Buscar Gastos:</label>
        <input type="text" id="busqueda" name="busqueda" placeholder="Palabra clave">
        <button type="submit">Buscar</button>
    </form>

    <p>Total Gastado: ${{ '{:,.2f}'.format(total_gastado) }}</p>

    <div>
        <strong>Ordenar por:</strong>
        <a href="{{ url_for('ordenar_gastos', criterio='nombre') }}">Nombre</a> |
        <a href="{{ url_for('ordenar_gastos', criterio='monto') }}">Monto</a>
    </div>

    <ul>
        {% for gasto in gastos %}
            <li>
                <strong>{{ gasto.Nombre }}</strong> - Monto: ${{ '{:,.2f}'.format(gasto.Monto) }} - Descripción: {{ gasto.Descripcion }} - Categoría: {{ gasto.Categoria }}
                <a href="{{ url_for('editar_gasto', id=gasto.ID) }}">Editar</a> |
                <a href="{{ url_for('eliminar_gasto', id=gasto.ID) }}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>


</body>
</html>
